@media screen and (max-width: 600px) {

    /* Common Styles */
    .container {
        width: 90%;
        margin: 0 auto;
    }

    /* Nav Here */
    nav {
        flex-direction: column;
    }

    nav .nav-logo {
        margin-bottom: 1rem;
    }

    /* Hero Here */
    .hero-section {
        flex-direction: column;
        text-align: center;
        padding: 4rem 0;
    }


    /* Products Here */
    .products {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        /* width: 100%; */
        /* max-width: 100%; */
    }
}