/* Google Fonts Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


/* Commons Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-clr: #606d5f;
    --secondary-clr: #888888;
    --brand-clr: #ffa500;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    /* font-size:62.5%;( 1rem - 10px) */
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4 {
    color: var(--primary-clr);
}

p,
li,
a,
button {
    color: var(--secondary-clr);
}

p {
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

button {
    padding: 1rem 3rem;
    border: 2rem;
    line-height: 3.6rem;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    outline: none;
    border: none;
    border-radius: .8rem;

}

.container {
    max-width: 80%;
    margin: 0 auto;
}



/* Header Section Start  */

/* Navbar Section Start */
nav {
    max-width: 100%;
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-logo {
    font-size: 4rem;
}

nav .nav-logo span {
    color: var(--brand-clr);
}

.menu-item ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.menu-item ul li {
    transition: all 0.5s;
}

.menu-item ul li a {
    font-size: 2rem;
}

.menu-item ul li a:hover {
    color: var(--brand-clr);
}

/* Navbar Section End */

/* Hero Section Start */
.hero-section {
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 4rem;
    height: 50rem;
}

.hero-section-content,
.hero-section-img {
    flex: 1;
}

.hero-section-content .hero-title {
    font-size: 5rem;
}

.hero-section-content .hero-des {
    margin: 1rem 0 2rem 0;
}

.hero-section-img img {
    width: 100%;
    border-radius: .8rem;
}

/* Hero Section End */

/* Header Section End */